<%- include("partials/header"); -%>
    <style media="screen">
      .a{
        text-align:left;
        margin-left:4rem;

      }
      h1{
        font-size:5vw;

      }
     h6{
       font-size:2vw;
       text-decoration:underline;

     }
     li{
       margin-left:2rem;
      
     }

    </style>
    <div class="a">
      <h1>About</h1>
      <h5 style="font-size:2vw;">
        I am a full stack developer, and I mostly focus on simplicity, responsive design and cross-browser compatibility.I am currently working as a freelancer in Qingdao, China.
       </h5>
       <br>
       <h6>
         SKILLS:
       </h6>
       <li>Front-end web development</li>
        <li>HTML 5</li>   <li>CSS 3</li>  <li>Bootstraop 4</li>
        <li>Javascript ES6</li>   <li>DOM Manipulation</li> <li>Bash Command Line</li>
        <li>Git,Github and Version Control</li>  <li>jQuery</li>
        <li>Node.js</li>   <li>NPM</li>  <li>Express.js</li>
        <li>EJS</li>    <li>REST</li>   <li>APIs</li>
        <li>Databases</li>   <li>SQL</li>   <li>MongoDB</li>
        <li>Mongoose</li>    <li>Web Design</li>  <li>Back-end web development</li>
    </div>

<%- include("partials/footer"); -%>
