

<form action="/login" method="post">

    <input type="text" name="username" placeholder="Username" required autofocus><br/><br/>

    <input type="password" placeholder="Password"  name="password" required><br/><br/>

    <button type="submit" name="login_user">LOGIN</button><br/>
</form
