 <%- include("partials/header"); -%>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style media="screen">



   .a{
     text-align:center;
     margin-top:6rem;

   }
   h1{
     font-size:2.5vw;

   }
   p{
     font-size:vw;
   }

   .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
.fa-whatsapp {
  background: #25D366;
  color: white;
}
.fa-envelope{
  background: #204969;
  color: white;
}



 </style>
 <div class="a">
   <h1>CONTACT</h1>
   <p> <i>You can reach out to me in one of the following ways… or all of them, if that’s your thing.</i> </p>
   <!-- <a href="#" class="fa fa-facebook"></a>
   <a href="#" class="deg0 fa fa-twitter"></a>
   <a href="#" class="deg45 fa fa-linkedin"></a>
   <a href="#" class="deg135 fa fa-instagram"></a>
   <a href="#" class="deg180 fa fa-whatsapp"></a> -->

 </div>
 <div class="image">
   <a href= "/about"><img src="/images/ chaka.jpeg" alt="Mr Chaka"></a>
 </div>

<div class="icons">
  <a href="mailto:tchakajnr@gmail.com" class="fa fa-envelope"></a>
  <a href="https://twitter.com/tchakajnr" class="fa fa-twitter"></a>
  <a href="https://www.linkedin.com/in/tawanda-chaka-209bb0157/" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/chykerteejnr45/?hl=en" class="fa fa-instagram"></a>
  <a href="https://wa.me/+8615621489061" class="fa fa-whatsapp"></a>
  <a href="https://www.facebook.com/tawanda.chaka.5" class="fa fa-facebook"></a>

</div>
