
<%- include("partials/header"); -%>

 <!-- (example of hw to lod a pic under ejs) -->
 <!-- <img src="images/ 2.png" alt=""> -->
 <div class="p">
   <p>HELLO, I AM TAWANDA CHAKA.</p>

 </div>

 <div class="body">
   <h1>A FULL STACK <br>WEB DEVELOPER.</h1>
 </div>

</body>
</html>

<%- include("partials/footer"); -%>
