<%- include("partials/header"); -%>
<style media="screen">
  h1{
    text-align:left;
    font-size:2vw;
  }
  p{
    text-align:left;
    font-size:1.5vw;
  }
</style>
<h1>
  THESE ARE SOME OF MY PROJECTS ON <a href="https://github.com/tchakajnr"> <i>github</i></a>
</h1>

<p>
  click here to view my first basic <a href="https://tchakajnr.github.io/chykerteejnr45-ouc/">web App game.</a>
</p>
