<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Nanum+Myeongjo&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <style media="screen">
      html{
       margin-right: 2rem;
       background-color: #11051D;
       text-align: justify;
       display: block;

      }
      p{
        font-family: 'Nanum Myeongjo', serif;
        font-weight: lighter;
        text-align: justify;
        color: #EFEFF5;
        font-size: 2vw;
      }
      h1{
        color:#FEFEFE;
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: underline;
      }
      div{
        padding-left: 4rem;
        padding-right: 2rem;
      }

    </style>
    <div class="post">
      <h1 ><%=title%></h1>
      <p><%=content%></p>
    </div>

  </body>
</html>
